#title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #03a87c;
    padding: 20px;
    color: white;
    font-size: 60px;
    margin-bottom: 80px;
    }
    #author{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
    }
    #quote{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
        font-style:oblique;
        margin: 0;
    }
    
    #quote2 {
        margin: 0;
    }
    
    #search {
        margin: 40px;
    }
    
    .card-header{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        background-color: #03a87c;
        color: white;
    }
    .card {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #article-section {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    #tweet-section{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
        overflow: hidden;
    }
.container{
    margin-bottom: none;
}
h6{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
}
h4{
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10px;
}
h3{
    font-size: 26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10px;
}
h5{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
}
header{
    text-align: center;
    color: #03a87c;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 150px;
    width: 300px;
    animation: bounce infinite;
}